.book-list {
  width: 85%;
  height: 10.625rem;
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.Line {
  width: 85%;
  margin: 2.313rem 6.25rem;
  border: solid 1px #e8e8e8;
}
